{% assign repo = include.repository %}
{% if site.data.repositories.github_users contains repo.owner %}
  {% assign show_owner = false %}
{% else %}
  {% assign show_owner = true %}
{% endif %}

<div class="repo p-2 text-center">
  <a href="https://github.com/{{ repo.owner }}/{{ repo.name }}" class="repo-card-link">
    <div class="repo-card">
      <div class="repo-card-header">
        <i class="fa-solid fa-book-bookmark repo-card-icon"></i>
        <span class="repo-card-name">{% if show_owner %}{{ repo.owner }}/{% endif %}{{ repo.name }}</span>
      </div>
      {% if repo.description %}
        <p class="repo-card-description">{{ repo.description }}</p>
      {% endif %}
      <div class="repo-card-footer">
        {% if repo.language %}
          <span class="repo-card-language">
            <span class="repo-card-language-dot" data-language="{{ repo.language }}"></span>
            {{ repo.language }}
          </span>
        {% endif %}
        {% if repo.stars and repo.stars > 0 %}
          <span class="repo-card-stat">
            <i class="fa-regular fa-star"></i> {{ repo.stars }}
          </span>
        {% endif %}
        {% if repo.forks and repo.forks > 0 %}
          <span class="repo-card-stat">
            <i class="fa-solid fa-code-fork"></i> {{ repo.forks }}
          </span>
        {% endif %}
      </div>
    </div>
  </a>
</div>
